In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2022-04-03 22:20:02,-33.9258,18.4232,62.28,87,20,3.44
1,1,Adrar,MR,2022-04-03 22:22:41,20.5022,-10.0711,78.26,11,0,12.17
2,2,Tezu,IN,2022-04-03 22:22:41,27.9167,96.1667,66.60,96,100,5.06
3,3,Berlevag,NO,2022-04-03 22:19:23,70.8578,29.0864,26.60,59,40,12.66
4,4,Kisangani,CD,2022-04-03 22:22:41,0.5167,25.2000,70.41,96,39,2.42

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Adrar,MR,2022-04-03 22:22:41,20.5022,-10.0711,78.26,11,0,12.17
5,5,Hilo,US,2022-04-03 22:22:18,19.7297,-155.0900,75.25,91,100,8.01
9,9,Souillac,MU,2022-04-03 22:22:43,-20.5167,57.5167,79.18,83,75,11.50
17,17,Garden Acres,US,2022-04-03 22:22:45,37.9638,-121.2294,83.23,14,0,13.80
19,19,Vaini,TO,2022-04-03 22:22:45,-21.2000,-175.2000,75.36,94,75,4.61
20,20,Atuona,PF,2022-04-03 22:22:46,-9.8000,-139.0333,79.88,72,52,21.45
21,21,Vila Velha,BR,2022-04-03 22:22:46,-20.3297,-40.2925,82.35,81,20,6.91
23,23,Rikitea,PF,2022-04-03 22:20:29,-23.1203,-134.9692,76.80,67,58,10.07
36,36,Kapaa,US,2022-04-03 22:22:50,22.0752,-159.3190,80.58,74,75,19.57
37,37,Haapiti,PF,2022-04-03 22:22:50,-17.5667,-149.8667,83.93,74,16,12.77

In [17]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

/var/folders/h4/8dbmbrjx5y30bh1s4b7kf4_w0000gn/T/ipykernel_32209/1869671922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

            City Country  Max Temp      Lat       Lng Hotel Name
1          Adrar      MR     78.26  20.5022  -10.0711
5           Hilo      US     75.25  19.7297 -155.0900
9       Souillac      MU     79.18 -20.5167   57.5167
17  Garden Acres      US     83.23  37.9638 -121.2294
19         Vaini      TO     75.36 -21.2000 -175.2000
20        Atuona      PF     79.88  -9.8000 -139.0333
21    Vila Velha      BR     82.35 -20.3297  -40.2925
23       Rikitea      PF     76.80 -23.1203 -134.9692
36         Kapaa      US     80.58  22.0752 -159.3190
37       Haapiti      PF     83.93 -17.5667 -149.8667

In [26]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3544"}

# Iterate through the Dataframe.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
hotel_df.head(15)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Adrar,MR,78.26,20.5022,-10.0711,
5,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
17,Garden Acres,US,83.23,37.9638,-121.2294,Clarion Inn & Suites
19,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
20,Atuona,PF,79.88,-9.8000,-139.0333,Villa Enata
21,Vila Velha,BR,82.35,-20.3297,-40.2925,Hotel Vitória Palace
23,Rikitea,PF,76.80,-23.1203,-134.9692,People ThankYou
36,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
37,Haapiti,PF,83.93,-17.5667,-149.8667,Linareva Moorea Beach Resort
41,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
47,Biak,ID,76.77,-0.9131,122.8766,Penginapan Kim
50,Matnog,PH,78.93,12.5878,124.0875,RGT Hotel
55,Grand Gaube,MU,79.20,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
56,Hithadhoo,MV,82.74,-0.6000,73.0833,Scoop Guest House

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))