## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Hotel name
0,0,Houma,US,66.20,Clear,29.5958,-90.7195,NaN,Courtyard by Marriott Houma
1,5,Bengkulu,ID,81.43,Clouds,-3.8004,102.2655,NaN,Grage Hotel Bengkulu
2,6,Geraldton,AU,79.21,Clouds,-28.7667,114.6000,NaN,Broadwater Mariner Resort
3,7,Neiafu,TO,86.68,Clouds,-18.6500,-173.9833,NaN,Mystic Sands Beachfront Accommodation
4,11,Alta Floresta,BR,73.38,Clouds,-9.8756,-56.0861,NaN,Floresta Amazonica Hotel

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Hotel name
0,0,Houma,US,66.20,Clear,29.5958,-90.7195,NaN,Courtyard by Marriott Houma
1,5,Bengkulu,ID,81.43,Clouds,-3.8004,102.2655,NaN,Grage Hotel Bengkulu
2,6,Geraldton,AU,79.21,Clouds,-28.7667,114.6000,NaN,Broadwater Mariner Resort
3,7,Neiafu,TO,86.68,Clouds,-18.6500,-173.9833,NaN,Mystic Sands Beachfront Accommodation
4,11,Alta Floresta,BR,73.38,Clouds,-9.8756,-56.0861,NaN,Floresta Amazonica Hotel

In [14]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = "Santa Maria"
vacation_end = "Santa Maria"
vacation_stop1 = "Rio Grande"
vacation_stop2 = "Palmares Do Sul"
vacation_stop3 = "Cidreira"

vacation_1 = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_2 = vacation_df.loc[vacation_df["City"] == vacation_stop1]
vacation_3 = vacation_df.loc[vacation_df["City"] == vacation_stop2]
vacation_4 = vacation_df.loc[vacation_df["City"] == vacation_stop3]
vacation_5 = vacation_df.loc[vacation_df["City"] == vacation_end]

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_1[["Lat", "Lng"]].to_numpy()[0]
end = vacation_5[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_2[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_3[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_4[["Lat", "Lng"]].to_numpy()[0]

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING' or 'BICYCLING' or 'WALKING')
fig.add_layer(start_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_1, vacation_2, vacation_3, vacation_4, vacation_5],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Hotel name
0,226,Santa Maria,BR,67.30,Mist,-29.6842,-53.8069,NaN,Hotel Morotin
1,551,Rio Grande,BR,68.95,Clouds,-32.0350,-52.0986,NaN,Hotel Atlântico Rio Grande
2,188,Palmares Do Sul,BR,67.93,Clouds,-30.2578,-50.5097,NaN,Hotel Campos Dourados.
3,394,Cidreira,BR,69.08,Clouds,-30.1811,-50.2056,NaN,Hotel Castelo
4,226,Santa Maria,BR,67.30,Mist,-29.6842,-53.8069,NaN,Hotel Morotin

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))